<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
	<title>Hello</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		crossorigin="anonymous">
</head>

<body>
	
	<!--section start here-->
	<section>
		<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="img/ecom1.png" class="d-block w-100" alt="..." height="350px">
				</div>
				<div class="carousel-item">
					<img src="img/ecom2.jpg" class="d-block w-100" alt="..." height="350px">
				</div>
				<div class="carousel-item ">
					<img src="img/ecom3.jpg" class="d-block w-100" alt="..." height="350px">
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
				data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
				data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	
		<!--end slider-->
		<div class="container">
			<div class="row">
				<p class="text-center fs-4">Category</p>
				<div class="col-md-2" th:each="c:${category}">
					<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body rounded">
						<div class="card-body text-center">
							<img th:src="@{'img/category_img/'+${c.imageName}}" width="70%" height="140px"><br>
							<a th:href="@{'/products?category='+${c.name}}" class="text-decoration-none">[[${c.name}]]</a>
						</div>
					</div>
				</div>
	
			<!--	<div class="col-md-2">
					<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body rounded">
						<div class="card-body text-center">
							<img src="img/category_img/iphone-6s-993199_1280.jpg" width="70%" height="140px">
							<p>iphone</p>
						</div>
					</div>
				</div>
	
				<div class="col-md-2">
					<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body rounded">
						<div class="card-body text-center">
							<img src="img/category_img/fashion-3555650_1280.jpg" width="70%" height="140px">
							<p>Fashion</p>
						</div>
					</div>
				</div>
	
				<div class="col-md-2">
					<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body rounded">
						<div class="card-body text-center">
							<img src="img/category_img/iphone-1125135_1280.jpg" width="70%" height="140px">
							<p>Phone</p>
						</div>
					</div>
				</div>
	
				<div class="col-md-2">
					<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body rounded">
						<div class="card-body text-center">
							<img src="img/category_img/fashion-1284496_1280.jpg" width="70%" height="140px">
							<p>Fashion</p>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body rounded">
						<div class="card-body text-center">
							<img src="img/category_img/fashion-1284496_1280.jpg" width="70%" height="140px">
							<p>Fashion</p>
						</div>
					</div>
				</div>-->
				
			</div>
		</div>
	
		<!--Start Latest Product Module -->
	
		<div class="container-fluid bg-light p-3">
			<div class="row">
				<p class="text-center fs-4">Latest Product</p>
	
				<div class="col-md-3" th:each="p:${products}">
					<div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center ">
							<img th:src="@{'img/product_img/'+${p.image}}" width="70%" height="140px">
							<p class="text-center"><a th:href ="@{'/product/'+${p.id}}" class="text-decoration-none">[[${p.title}]]</a></p>
						</div>
					</div>
				</div>
				
				<!--<div class="col-md-3">
					<div class="card">
						<div class="card-body text-center">
							<img src="img/product_img/img.webp" class="" width="70%" height="140px">
							<p class="text-center"> Laptop</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<div class="card-body text-center">
							<img src="img/product_img/img.webp" class="" width="70%" height="140px">
							<p class="text-center"> Laptop</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<div class="card-body text-center">
							<img src="img/product_img/img.webp" class="" width="70%" height="140px">
							<p class="text-center"> Laptop</p>
						</div>
					</div>
				</div>-->
	
			</div>
	
		</div>
	
	</section>

</body>

</html>